# Import functions
importFrom("grDevices", "dev.new", "dev.off", "pdf")
importFrom("graphics", "abline", "arrows", "axis", "legend", "par",
             "plot", "points", "segments")
importFrom("stats", "dbeta", "density", "median", "optim", "pchisq",
             "qnorm", "quantile", "rbeta")
importFrom("stats", "rnorm", "runif")


useDynLib(mmeta,.registration = TRUE)

# Exported functions
export(singletable,multipletables,
        plot.multipletables,  summary.multipletables, 
       plot.singletable, summary.singletable
       )
       
       
#S3 methods
S3method(plot,multipletables)
S3method(summary,multipletables)
S3method(summary, singletable)
S3method(plot, singletable)


